RewriteEngine On
RewriteBase /prog3-clase2/

# Desactivar MultiViews para evitar conflictos con archivos que se llamen parecido
Options -MultiViews

# Mapear URLs limpias a la carpeta SaludWeb
RewriteRule ^registro/?$ SaludWeb/registro_paciente.php [L,NC]
RewriteRule ^lista/?$ SaludWeb/lista_pacientes.php [L,NC]