# Habilitar el motor de reescritura y proteger listados de directorio
Options -Indexes -MultiViews
DirectoryIndex index.php
RewriteEngine On

# Definimos la ruta base del proyecto para evitar errores 404 en subcarpetas
RewriteBase /prog3-clase2/SaludWeb/

# Solo dejamos el índice y acceso directo a los archivos PHP
RewriteRule ^(.+\.php)$ $1 [L,QSA]
RewriteRule ^([^/]+)/?$ $1.php [L,QSA]
